language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install -r requirements.txt -r requirements-dev.txt

script:
  - python setup.py clean
  - python setup.py build
  - coverage run --source=pykakasi setup.py test

after_success:
  coveralls
