name: Run Benchmark

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.9, pypy3]
        include:
          - os: ubuntu-latest
            python-version: 3.8
        exclude:
          - os: windows-latest
            python-version: pypy3
    name: Benchmark on Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -U pip
          pip install tox tox-gh-actions
          pip install -r utils/requirements.txt
      - name: Run benchmark with tox
        run: |
          tox
        env:
          PYTEST_ADDOPTS: '--benchmark-only --no-cov --benchmark-json=results_${{ matrix.os }}_${{ matrix.python-version }}.json'
      - name: upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: benchmark_result
          path: results_${{ matrix.os }}_${{ matrix.python-version }}.json

  comparison:
    runs-on: ubuntu-latest
    name: compare benchmark results
    needs: run
    steps:
      - name: download artifact
        uses: actions/download-artifact@v2
        with:
          name: benchmark_result
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: post result to issue
        run: |
          python utils/github_comment_bench.py --repository ${GITHUB_REPOSITORY} --issue ${ISSUE_NUMBER} --runid ${GITHUB_RUN_ID} results_*.json
        env:
          ISSUE_NUMBER: 123
